// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '_header';
@import '_footer';
@import '_topics_list';
// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
a:hover {
    text-decoration: none;
}

.simditor-body img {
    max-width: 100%;
}